# 3. Data Visualizations
Here, we visualize both the socio-economic we have for Manifold and the Foundation specific data

In [27]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns 
import sqlalchemy as sql
import zipfile
import urllib as rq
import geopandas as gpd #for geomapping analysis
import requests #making url requests 
from io import BytesIO, StringIO
import re
import utm #crs projection 
import json #geomapping 
import matplotlib.path as mplPath
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import matplotlib.colors as cols

In [28]:
#Import data (already clean)
data= pd.read_csv('M:\PH-RPM\Elba\Data\Geocoded_MANIFOLD_ALL.csv')

### Plotting Points
Here I just plot each of the 95,000 observations by their postal code lat long. Nothing fancy and not super useful.

<img src="files/Bokeh.png">

In [29]:
# VISUALIZATION 1: BOKHE (PLOTTING POINTS ON MAP BASED ON LAT/LONG)
#Visualizations with Bokhe 
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, GMapOptions
from bokeh.plotting import gmap

#Uploading and Cleaning 
x_1= data['Lat'][0:1700]
y_1= data['Long'][0:1700]

#output_file("gmap.html")

map_options = GMapOptions(lat=49.2452, lng=-123.1208, map_type="roadmap", zoom=11)
p = gmap("AIzaSyABDUkLMLoPnQkPP4CiyWBGkCuGeSo-WA8", map_options, title="Vancouver")

source = ColumnDataSource(
    data=dict(lat=x_1,
              lon=y_1)
)

p.circle(x="lon", y="lat", size=5, fill_color="blue", fill_alpha=0.8, source=source)
p.circle(x="lon", y="lat", size=5, fill_color="blue", fill_alpha=0.8, source=source)

show(p)

### Heatmap using Folium 
Here, we get a little more creative and use a heatmap to view our data. There are some steps to render this right, and we lightly step into geopandas territory. I will quickly outline the steps I took to create this since I didn't get it right in one try.

Steps 
1. First, I subset our dataframe to keep only lat, long and the variable whose values we want to plot- in this case 'Charitable Contributions'
2. Then, I standardize the data $\dfrac{x-\mu}{\sigma}$ ; this is important for getting it to work
3. I then converted my shapefile into a geojson file and set the CRS
4. Finally, I used the HeatMap function in folium 

As we can observe from the image below, we cannot really get too much information from this heatmap (atlhough perhaps playing with the parameters would yield slightly better results. 

Useful examples:
* https://alcidanalytics.com/p/geographic-heatmap-in-python
* http://geoffboeing.com/2014/09/using-geopandas-windows/
* https://github.com/python-visualization/folium/blob/master/examples/Heatmap.ipynb
* http://daft.engineer/civics/finding-the-hot-singles-in-my-neighbourhood/

Note: Chrome has a difficult time showng more than ~25,000 observations in the heatmap

The maps end up looking like this:

<img src="files/heatmap_BC_overview.png">
<img src="files/Vancouver_heatmap.png">

As we can observe, for an overall picture of BC, we do observe some intersting results- although these sections mostly correspond to population density. Yet, when we zoom into the vancouver area, we can barely make out differences.

In [22]:
import geopandas as gpd
import pandas as pd 
import folium
from folium.plugins import HeatMap
import os
print(folium.__version__)
import numpy as np

data1 = data.loc[:,['Lat', 'Long', 'Charity_Contributions']]
data1['Charity_Contributions']=(data1['Charity_Contributions']-data1['Charity_Contributions'].mean())/data1['Charity_Contributions'].std()
data1
data1 = data1.values
data1 = data1.tolist()

m = folium.Map(location=[49.2452, -123.1208], zoom_start=11,)

neighbourhoods = gpd.GeoDataFrame.from_file("C:\\Users\egomez\\Desktop\\local_area_boundary.geojson")
neighbourhoods.crs = {'init': 'epsg:26910'}
neighbourhoods.head()

folium.GeoJson(neighbourhoods).add_to(m)
folium.TileLayer('cartodbpositron').add_to(m)

HeatMap(data1, min_opacity=.5, 
                   radius=17, blur=15, 
                   max_zoom=1 ).add_to(m)

m.save('C:\\Users\\egomez\\Desktop\\HTML_visualizations\\heatmap.html')
#m

0.5.0

## Choloropleth with Folium 
Since we're still not happy with the way our data is being visualized, I now try a choloropleth format. I suspect this is a good candidate since we want to aggregate our data at the neighbourhood level. Below are the main steps I followed:

* **Convert Shapefile to Geojson**: First, I went through the process of converting my shapefile into a geojson file. The easiest way to do so is to use the following command in terminal: *ogr2ogr -f GeoJSON -t_srs crs:84 all_bc.geojson nh_noshore_29Jan13.shp*
* **Assign Neighbourhood to Postal Code**: Now, the first thing we want to do is to place our postal codes within a neighbourhood- since we will use the latter to link our data with the shapefile. One thing to note is that we have to make sure that either both the dataframe and the geojson file are in lat/long or both are in UTM. 
* **Run Folium Cholopleth** Finally, I use the HeatMap function within folium to render my chloropleth

Some useful references
* https://blog.dominodatalab.com/creating-interactive-crime-maps-with-folium/ (folium tutorial)
* https://gis.stackexchange.com/questions/78838/converting-projected-coordinates-to-lat-lon-using-python (on projections!)

<img src="files/chloropleth_all_bc.png">

In [51]:
data.head()

,Lat,Long,Charity_Contributions,geometry
index_left,,,,
0,56.723233,-111.393454,1395,POINT (-111.3934539 56.7232329)
1,49.239210,-123.139666,771,POINT (-123.1396659 49.2392105)
2,49.240633,-123.139662,752,POINT (-123.1396617 49.24063289999999)
3,49.240367,-123.142134,764,POINT (-123.1421342 49.2403674)
4,49.241149,-123.139715,759,POINT (-123.1397153 49.2411485)

In [42]:
##########################################################################################################################
#STEP 1:PLACE POSTAL CODES WITHIN NEIGHBOURHOOD (so that we can link the geojson file)
#https://gis.stackexchange.com/questions/190903/assign-a-point-to-polygon-using-pandas-and-shapely
import pandas
import geopandas
import geopandas.tools
import utm
import folium
from shapely.geometry import Point
from json import dumps

#Import data
data= pd.read_csv('M:\PH-RPM\\Elba\\Data\\Geocoded_MANIFOLD_ALL.csv',dtype={'Postal_Code_E': object})

#Create the geometry column for the coordinates 
data1 = data.iloc[:, [52, 53, 10]]
#Function to pass lat long to UTM projection
#def getUTMs(row):
#    tup = utm.from_latlon(row.iloc[0],row.ix[1])
#    return pd.Series(tup[:2])
#data1[['utm_lat','utm_long']] = data1[['Lat','Long']].apply(getUTMs , axis=1)

data1["geometry"] = data1.apply(lambda row: Point(row['Long'], row['Lat']), axis=1)

#Convert to a GeoDataFrame

#http://spatialreference.org/ref/epsg/nad83-bc-albers/
#https://stackoverflow.com/questions/42751748/using-python-to-project-lat-lon-geometry-to-utm (my problem right now)
#https://pypi.org/project/utm/ (answer!!)
#https://stackoverflow.com/questions/30014684/pandas-apply-utm-function-to-dataframe-columns  (ANSWER2!)

data = geopandas.GeoDataFrame(data1, geometry="geometry")
# Declare the coordinate system for the places GeoDataFrame
data.crs = {'init': 'epsg:26910'}

# Load the countries polygons
#neighbourhoods = geopandas.GeoDataFrame.from_file("C:\\Users\\egomez\\Desktop\\local_area_boundary.shp")
neighbourhoods = geopandas.GeoDataFrame.from_file("C:\\Users\\egomez\\Desktop\\all_bc.geojson")
neighbourhoods.crs = {'init': 'epsg:26910'}

# Drop all columns except the name and polygon geometry
neighbourhoods = neighbourhoods[["N_CODE","N_NAME", "geometry"]]

# Perform the spatial join
result = geopandas.tools.sjoin(data, neighbourhoods, how="inner", op="within")
result.head()

#results = result.rename(columns={'utm_lat': 'Lat', 'utm_long': 'Long'})

C:\Users\egomez\AppData\Local\Continuum\anaconda3\envs\Env_1\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Lat,Long,Charity_Contributions,geometry,index_right,N_CODE,N_NAME
1,49.239210,-123.139666,771,POINT (-123.1396659 49.2392105),275,N3912,Shaughnessy
2,49.240633,-123.139662,752,POINT (-123.1396617 49.24063289999999),275,N3912,Shaughnessy
3,49.240367,-123.142134,764,POINT (-123.1421342 49.2403674),275,N3912,Shaughnessy
4,49.241149,-123.139715,759,POINT (-123.1397153 49.2411485),275,N3912,Shaughnessy
5,49.238304,-123.139723,775,POINT (-123.1397234 49.2383039),275,N3912,Shaughnessy

Below, we do the assigning of neighbourhoods to postal code. Now we have a

In [103]:
result.to_csv('M:\PH-RPM\\Elba\\Data\\result.csv')

In [44]:
###########################################################################################################################
# STEP 2: Add neighbourhood boundaries 
#https://medium.com/@austinlasseter/using-folium-to-generate-a-simple-map-of-your-pandas-data-87ddc5d55f8d (for error)

#BC = [53.7267, -127.6476]

hmap = folium.Map(location=[49.2452, -123.1208], zoom_start=12,)

#folium.GeoJson(neighbourhoods).add_to(hmap)
#folium.LayerControl().add_to(hmap)
folium.TileLayer('cartodbpositron').add_to(hmap)
#hmap

# calculating total contributions (2016) to BC Children's per neighbourhood
#found = foundation[['2017','2016','Postal_Code']]
#grouped = found.groupby('Postal_Code')
#foundation_donations = grouped.agg(np.sum)




charitydata = pd.DataFrame(result['N_CODE'].value_counts().astype(float))
charitydata.to_json('charitydata.json')
charitydata = charitydata.reset_index()
charitydata.columns = ['N_CODE', 'Count']

# creation of the choropleth

#district_geo = r'local_area_boundary.geojson'

#http://python-visualization.github.io/folium/docs-v0.5.0/quickstart.html
#https://gis.stackexchange.com/questions/73768/converting-geojson-to-python-objects (looks like it addresses the hirarchy of)
hmap.choropleth(geo_data= "C:\\Users\\egomez\\Desktop\\all_bc.geojson",
               data = charitydata,
               columns = ['N_CODE', 'Count'],
               key_on = 'feature.properties.N_CODE',
               #threshold_scale=  [1, 55 , 100 , 120, 140, 280],
               fill_color = 'YlOrRd',
               fill_opacity=0.75,
               line_opacity=0.2,
               line_color='white',
               line_weight=5,
               legend_name ='TOTAL COUNTS',
               name='Assigned Geolocation Counts',
               reset=True
               )

#this will add the geo from the geojson and connect it with the data in the object data2. 
#"key_on" and first entry in "columns" must match. fill_color is from colorbrewer. 
#http://www.digital-geography.com/python-and-webmaps-folium/
folium.features.CircleMarker(
    location=[49.2453, -123.1413],
    radius=50,
    popup='Shaughnessy',
    color='#3186cc',
    fill=True,
    fill_color='#3186cc'
).add_to(hmap)


hmap.save('C:\\Users\\egomez\\Desktop\\HTML_visualizations\\chloropleth.html')

In [39]:
charitydata = pd.DataFrame(result['N_CODE'].value_counts().astype(float))
charitydata

       N_CODE
N3912   393.0
N4503   320.0
N3913   281.0
N4403   247.0
N3604   232.0
N4404   190.0
N3914   156.0
N3807   155.0
N3903   149.0
N4502   140.0
N4501   137.0
N6107   129.0
N4310   129.0
N3911   118.0
N3701   117.0
N6002   111.0
N4505   105.0
N6102    79.0
N4408    69.0
N4406    69.0
N3921    66.0
N4005    65.0
N3904    64.0
N4308    62.0
N4407    61.0
N3610    61.0
N6302    60.0
N3915    53.0
N3606    50.0
N3703    42.0
...       ...
N3917     7.0
N3617     7.0
N3805     6.0
N6003     6.0
N3902     5.0
N4107     5.0
N4203     5.0
N5702     4.0
N7303     4.0
N3905     3.0
N4409     3.0
N2202     3.0
N6103     2.0
N7501     2.0
N2303     2.0
N6201     2.0
N0504     2.0
N2301     1.0
N2206     1.0
N3607     1.0
N7502     1.0
N8301     1.0
N4003     1.0
N4202     1.0
N5901     1.0
N3808     1.0
N2302     1.0
N2306     1.0
N3620     1.0
N3615     1.0

[108 rows x 1 columns]